.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dfe6e9;
  width: 50%;
  height: 100%;
  margin-left: 19rem;
  gap: 3rem;
}

.Card {
  background: #81ecec;
  border-radius: 2rem;
  width: 23rem;
  padding: 2rem;
  box-shadow: #dfe6e9;
  position: relative;
}

.name {
  background: #00cec9;
  display: flex;
  align-items: center;
  width: 23rem;
  height: 3rem;
  border-radius: 2rem 2rem 0rem 0;
  margin-top: -2rem;
  margin-left: -2rem;
  padding: 2rem;
}

.circle {
  height: 8rem;
  width: 8rem;
  background: white;
  position: absolute;
  border-radius: 70%;
  left: 18rem;
  z-index: 1;
  top: 1rem;
}
img {
  border-radius: 50%;
  border: 1px blue solid;
  height: 7rem;
  width: 7rem;

  position: absolute;
  /* left: 5%; */
  /* top: 5%; */
  z-index: 1;
}

/* .information {
  margin-left: 2rem;
} */
